/*********************** index **********************/
@media (min-width: 768px) {
  h3 {
    margin-left: 170px;
  }
  #welcome_text {
    margin-left: 170px;
    margin-right: 170px;
  }
  #text_map {
    margin-right: 0px;
  }

  .grid_1_1_1_1 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 40px;
  }
  #spring {
    width: 420px;
    margin-left: 270px;
  }
  #summer {
    width: 420px;
  }
  #fall {
    width: 420px;
    margin-left: 270px;
  }
  #winter {
    width: 420px;
  }

  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #h2_map {
    margin-left: 170px;
    text-align: left;
  }
  .map {
    height: 341px;
    margin-top: 221px;
    margin-left: 37px;
    width: 500px;
  }
  #mapimage {
    padding-right: 100px;
    width: 95%;
  }
  #map_text {
    margin-left: 150px;
  }
  #add_bottom {
    margin-left: 50%;
  }
}

/*********************** add **********************/
@media (min-width: 768px) {
  #h1_add {
    text-align: left;
    margin-left: 150px;
  }
  #add_welcome_text {
    margin-left: 160px;
  }
  h2 {
    margin-top: 100px;
    margin-left: 7px;
  }
  #step_text {
    margin-left: 370px;
  }

  .box {
    margin-top: 60px;
    margin-left: 50px;
  }

  .bottom {
    padding-bottom: 194px;
  }
  .footer1 {
    background-color: #4f8d9d;
    max-width: 100%;
    height: 297px;
    padding: 7px;
  }
  .footer1 h3,
  .footer1 h4 {
    margin-left: 177px;
    color: #ffffff;
    margin-top: 26px;
  }
  .socialnet1 {
    margin-left: 1190px;
    margin-top: -76px;
    margin-bottom: 10px;
  }
}
