* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************* main *******************/
main {
  background-color: #fff7f6;
  /*  height: 1600px; */
}

gmp-map {
  height: 400px;
  width: 1;
}

#h1_add {
  font-family: "Roboto", sans-serif;
  color: #3e3535;
  font-size: 1.6rem;
  text-align: left;
  padding-left: 2.6rem;
  padding-top: 3rem;
  margin-bottom: 30px;
}

#add_welcome_text {
  font-family: "Roboto", sans-serif;
  line-height: 30px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 1rem;
  padding: 20px;
}

.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr;
}

h2 {
  font-family: "Ribeye", serif;
  color: #3e3535;
  font-size: 1.8rem;
  text-align: left;
  margin-top: 70px;
  margin-left: 70px;
  margin-bottom: 20px;
}
.h2map {
  margin-left: 70px;
}

#step_text {
  font-family: "Roboto", sans-serif;
  color: #3e3535;
  line-height: 40px;
  margin-left: 70px;
  margin-bottom: 50px;
}

.box {
  width: 300px; /* Ændr bredden efter behov */
  height: 350px; /* Ændr højden efter behov */
  background-color: white; /* Ændr farven efter behov */
  border: 1px solid #000; /* Tilføj en streg rundt om kassen */
  position: relative;
  margin-left: 50px;
  margin-bottom: 50px;
  border-radius: 1rem;
}

.text {
  font-family: "Roboto", sans-serif;
  color: #3e3535;
  position: absolute; /* Gør positionen absolut for at placere teksten inde i boksen */
  text-align: center;
  top: 50%; /* Placer teksten i midten vertikalt */
  left: 50%; /* Placer teksten i midten horisontalt */
  transform: translate(-50%, -50%); /* Centrer teksten i forhold til dens egen størrelse */
  margin-bottom: 20px;
}

.btn_top {
  margin-top: 400px;
}

#upload_bottom {
  background-color: #1e652d;
  text-decoration: none;
  color: #fff7f6;
  font-family: "Roboto", sans-serif;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  padding: 13px;
  padding-right: 30px;
  padding-left: 30px;
  margin-left: 29%;
}

#pil {
  margin-top: 9rem;
  margin-bottom: 2rem;
  margin-left: 9rem;
  font-weight: 900;
  max-width: 1.5%;
}

.pil1 a,
.pil2a a {
  text-decoration: none;
  font-family: roboto, serif;
  color: #075607;
}

.footera {
  background-color: #4f8d9d;
  max-width: 100%;
  height: auto;
  padding: 7px;
  margin-top: -90px;
}

.footera h3,
h4 {
  color: #ffffff;
  margin-top: 30px;
  margin-left: 172px;
  font-family: Roboto, serif;
}
.footera h3 {
  color: #ffffff;
  margin-top: 30px;
  margin-left: 35px;
  font-family: Roboto, serif;
}

@media (min-width: 768px) {
  .h2map {
    margin-left: 370px;
  }
  #h1_add {
    font-family: "Roboto", sans-serif;
    color: #3e3535;
    font-size: 2.7rem;
    text-align: left;
    padding-left: 2rem;
    padding-top: 3rem;
    margin-bottom: 30px;
  }
  .footera {
    background-color: #4f8d9d;
    max-width: 100%;
    height: auto;
    padding: 7px;
    margin-top: -190px;
  }
  .footera h3,
  h4 {
    color: #ffffff;
    margin-top: 30px;
    margin-left: 172px;
    font-family: Roboto, serif;
  }
  .radio-row label {
    white-space: nowrap;
    margin-right: 25px;
  }
  .contact_form form {
    color: #ffffff;
    flex-direction: row;
    margin-left: 136px;
  }
  .contact_form .radio-row,
  .contact_form .input-row {
    margin-bottom: 10px;
    font-family: Roboto, serif;
  }
  .contact_form input[type="text"],
  .contact_form input[type="email"],
  .contact_form input[type="submit"] {
    margin-bottom: 0;
    margin-right: 10px;
  }
  .socialnet {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 20%;
    height: auto;
    margin-left: 1150px;
    margin-top: -99px;
    padding: 34px;
  }
}
