* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  text-decoration: none;
  list-style: none;
}
/** BODY **/
body {
  background-color: #fff7f6;
  color: #3e3535;
}
/** HEADER **/
/** END HEADER **/

/** MAIN **/
h2 {
  margin-left: 40px;
  margin-top: 40px;
  font-size: 38px;
}
.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 36px 0px;
}
.dropbtn {
  background-color: #7cbb57b7;
  color: #3e3535;
  padding: 14px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 306px;
  justify-content: space-between; /* Align items horizontally */
  align-items: center; /* Center items vertically */
  text-align: start;
  margin-bottom: -8px;
  display: flex; /* Add display flex to the button */
}
.dropdown {
  margin-bottom: 20px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  max-width: 306px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0 0 4% 4%;
}
.dropdown-content a {
  color: #3e3535;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
  margin-top: 10px;
  width: 330px;
}
.dropbtn:hover {
  border-radius: 15px 15px 0 0;
}
nav.active .menu a:hover {
  color: #7bbf8a;
}
.arrow {
  border: solid #3e3535;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  transition: transform 0.3s ease; /* Added transition */
  margin-left: 10px; /* Adjust margin to create space between text and arrow */
  z-index: -2;
}
/* Position the arrow at the end */
.arrow.end {
  margin-left: auto; /* Move arrow to the end */
  margin-right: 10px; /* Add some margin to the right */
}
/******************* *******************/
.mushroom_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10px;
  padding: 0 27px;
}
.col h5 {
  font-size: 15px;
  word-wrap: break-word; /* or word-break: break-all; */
}
.col {
  display: flex;
  justify-content: center; /*Center children vertically*/
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.436);
}
.links {
  text-align: center; /* Center both image and text horizontally */
}
.profilecircle img {
  max-width: 70%;
  height: auto;
  margin-top: 20px;
}
.profilecircle {
  display: inline-block;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 5px solid #dab55d;
  overflow: hidden;
  background-color: #fefef3;
  margin-bottom: 10px; /* tilfojet */
}
a {
  color: #3e3535;
}
/** END MAIN **/

/** FOOTER **/
footer {
  background-color: #4f8d9d;
  max-width: 100%;
  height: auto;
  padding: 7px;
}
.footer h3,
h4 {
  color: #ffffff;
  margin-top: 30px;
  margin-left: 35px;
}
.radio-row {
  display: flex;
  align-items: center;
  margin-top: -38px;
  margin-bottom: 20px;
}
.radio-row input[type="radio"] {
  margin-right: 6px; /* Optional: add spacing between radio buttons */
  margin-top: 16px;
  max-width: 20px;
}
.radio-row label {
  white-space: nowrap;
  margin-right: 10px;
}
.contact_form {
  display: flex;
  flex-direction: row; /* Change flex-direction to row */
  align-items: center; /* Align items horizontally */
  color: #ffffff;
  padding: 35px;
  font-size: 14px;
}
.contact_form input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  width: 303px;
}
input[type="submit"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e652d;
  color: rgb(234, 230, 230);
  border: 1px;
  border-color: #a49f9f;
  border-radius: 6px;
  cursor: pointer;
  max-width: 134px;
  margin-top: 16px;
}
input[type="submit"]:hover {
  background-color: #2b8e40;
  color: #e3e3e3;
}
.socialnet {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 20%;
  height: auto;
  margin-left: 236px;
  margin-top: -69px;
  padding: 34px;
}

@media (min-width: 768px) {
  .logo {
    position: relative;
    margin-left: -20px;
    margin-top: 33px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    line-height: 90px;
    padding: 0 93px;
    margin-top: 30px;
  }
  h2 {
    font-size: 60px;
    margin-left: 216px;
    margin-top: 50px;
  }
  .dropdown-container {
    flex-direction: row;
    justify-content: start;
    gap: 120px;
    margin-left: 314px;
  }
  .dropbtn {
    /* background-color: #7cbb57b7; */
    color: #3e3535;
    padding: 14px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 330px;
    justify-content: space-between; /* Align items horizontally */
    align-items: center; /* Center items vertically */
    text-align: start;
    margin-bottom: -8px;
    margin-left: -94px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    margin-top: 10px;
    width: 4200px;
    margin-left: -94px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    max-width: 329px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0 0 4% 4%;
  }
  .arrow {
    border: solid #3e3535;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    /* transition: transform 1.3s ease; */
    margin-left: 220px;
  }
  /**********************/
  .mushroom_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 100px 0px;
    padding: 0 150px;
  }
  .col h5 {
    font-size: 18px;
    word-wrap: break-word; /* or word-break: break-all; */
  }
  .col {
    display: flex;
    justify-content: center; /*Center children vertically*/
    align-items: center;
    padding-bottom: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.436);
  }
  .links {
    text-align: center; /* Center both image and text horizontally */
    position: relative; /* Ensure the link container is positioned relative */
  }
  .profilecircle img {
    max-width: 70%;
    height: auto;
    margin-top: 40px;
  }
  .profilecircle {
    display: inline-block;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 5px solid #dab55d;
    overflow: hidden;
    background-color: #fefef3;
    margin-bottom: 10px; /* tilfojet */
  }
  a {
    color: #3e3535;
  }
  .links a {
    display: block; /* Ensure the link covers the entire area of its container */
  }
  .rotate-on-hover {
    transition: transform 0.5s ease; /* Add a smooth transition effect */
  }
  .rotate-on-hover:hover {
    animation-name: rotate;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg); /* Start rotating from 0 degrees */
    }
    100% {
      transform: rotate(360deg); /* Rotate the image by 360 degrees */
    }
  }
  .plantlink {
    text-align: center; /* Center the content horizontally */
    display: flex; /* Use flexbox for vertical centering */
    flex-direction: column;
    justify-content: center;
  }
}
/**********************/
